:root {
  --color-black-primary: #1a1d21;
  --color-light-black-primary: #262b31;
  --color-light-black: #464f59;
  --color-yellow-primary: #ffae40;
  --color-dark-yellow-primary: #ff9c15;
  --color-light-brown-primary: #cfc7c3;
  --color-light-brown: #f2ece8;
  --color-white: #e6e7e9;
  --color-light-brown: #f8f8f8;
  --color-light-brown-2: #e9eaea;
  --color-brown: #687281;
}

$--color-black-primary: #1a1d21;
$--color-light-black-primary: #262b31;
$--color-light-black: #464f59;
$--color-yellow-primary: #ffae40;
$--color-light-brown-primary: #cfc7c3;
$--color-light-brown: #f2ece8;
$--color-white: #e6e7e9;
