.input_size_s.ant-input {
  height: 26px;
}

.input_size_m.ant-input {
  height: 34px;
}

.input_size_l.ant-input,
.input_size_l.ant-input-search {
  height: 46px;
  font-size: 16px;

  .ant-input-group.ant-input-wrapper .ant-input {
    height: 100%;
  }

  .ant-input-group-addon .ant-btn {
    height: 100%;
    width: 46px;
  }
  .ant-btn-icon .anticon.anticon-search {
    font-size: 20px;
  }
  .ant-input-group {
    height: 100%;
  }
}

.input_size_xl.ant-input {
  height: 50px;
  font-size: 16px;
}

.input_size_xxl.ant-input,
.input_size_xxl.ant-input-password {
  height: 56px;
  font-size: 18px;
}

.ant-btn.ant-input-search-button.ant-btn-icon-only {
  &:hover {
    border-color: var(--color-brown);
  }
  &:active {
    border-color: var(--color-light-black);
  }
}
