.header {
  height: 192px;
  padding: 55px 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .headerInner {
    display: flex;
  }
  border-bottom: 8px solid var(--color-yellow-primary);
}
.nav {
  display: flex;
  margin-left: 87px;
}
.navItem {
  a {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--color-brown);
    &.active p {
      border-bottom: 1px solid var(--color-yellow-primary);
    }
  }
}
.person {
  display: flex;
  align-items: center;
  .personButton {
    margin-right: 20px;
  }
}
