.h1_36_600 {
  font-size: 36px;
  font-weight: 600;
  line-height: 43px;
}

.h1_36_500 {
  font-size: 36px;
  font-weight: 500;
  line-height: 40px;
}
.h1_36_400 {
  font-size: 36px;
  font-weight: 400;
  line-height: 40px;
}
.h1_36_300 {
  font-size: 36px;
  font-weight: 300;
  line-height: 40px;
}
.h1_32_600 {
  font-size: 32px;
  font-weight: 600;
  line-height: 36px;
}
.h1_32_500 {
  font-size: 32px;
  font-weight: 500;
  line-height: 36px;
}
.h1_32_400 {
  font-size: 32px;
  font-weight: 400;
  line-height: 36px;
}
.h1_32_300 {
  font-size: 32px;
  font-weight: 300;
  line-height: 36px;
}
.h1_28_600 {
  font-size: 28px;
  font-weight: 600;
  line-height: 30px;
}
.h1_28_500 {
  font-size: 28px;
  font-weight: 500;
  line-height: 30px;
}
.h1_28_400 {
  font-size: 28px;
  font-weight: 400;
  line-height: 30px;
}
.h1_28_300 {
  font-size: 28px;
  font-weight: 300;
  line-height: 30px;
}
.h2_26_600 {
  font-size: 26px;
  font-weight: 600;
  line-height: 30px;
}
.h2_26_500 {
  font-size: 26px;
  font-weight: 500;
  line-height: 30px;
}
.h2_26_400 {
  font-size: 26px;
  font-weight: 400;
  line-height: 30px;
}
.h2_26_300 {
  font-size: 26px;
  font-weight: 300;
  line-height: 30px;
}
.h3_24_600 {
  font-size: 24px;
  font-weight: 600;
  line-height: 28px;
}
.h3_24_500 {
  font-size: 24px;
  font-weight: 500;
  line-height: 28px;
}
.h3_24_400 {
  font-size: 24px;
  font-weight: 400;
  line-height: 28px;
}
.h3_24_300 {
  font-size: 24px;
  font-weight: 300;
  line-height: 28px;
}
.h4_20_500 {
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
}
.h4_24_400 {
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
}
.h4_20_300 {
  font-size: 20px;
  font-weight: 300;
  line-height: 24px;
}
